@import "backgrounds";

$width: 35rem;

body {
	font-size:  14px;
	color: #eee;
	background-color: #222;
	padding: 2rem;
	margin: {
		top: 6rem;
	}
}

.thunderstorm {
	background: url('https://s19.postimg.org/avuiik8n7/thunderstorm.jpg');
	@include backgrounds;
}

.drizzle {
	background: url('https://s19.postimg.org/ox6i44c77/drizzle.jpg');
	@include backgrounds;
}

.rain {
	background: url('https://s19.postimg.org/v0o2o12gz/rain.jpg');
	@include backgrounds;
}

.snow {
	background: url('https://s19.postimg.org/4443fpjnn/snow.jpg');
	@include backgrounds;
}

.atmosphere {
	background: url('https://s19.postimg.org/uuadkxtc3/atmosphere.jpg');
	@include backgrounds;
}

.clear {
	background: url('https://s19.postimg.org/hd8d4ycoz/clear.jpg');
	@include backgrounds;
}

.clouds {
	background: url('https://s19.postimg.org/walw32w8z/clouds.jpg');
	@include backgrounds;
}

.extreme {
	background: url('https://s19.postimg.org/mh4oq9u4j/extreme.jpg');
	@include backgrounds;
}

.default {
	background: url('https://s19.postimg.org/4oj4iecw3/default.jpg');
	@include backgrounds;
}

h1 {
	padding: {
		top: 4rem;
		bottom: 2rem;
	}
}

.header-parent {
	display: flex;
	justify-content: center;
}

.header-child {
	//display: flex;
}

.initial-parent {
	display: flex;
	justify-content: center;
}

.display-parent {
	display: flex;
	justify-content: center;
}

.display-child {
	width: $width;
	border-radius: 0.5rem;
	padding: 2.5rem;
	background-color: rgba(0,0,0,0.25);
}

.display-top, .display-bottom {
	display: flex;
	justify-content: space-around;
}

.display-bottom {
	margin: {
		top: 1rem;
	}
}

.display-city {
	display: flex;
	justify-content: center;
	height: $width/4;
	align-items: center;
}

#retrieving {
	display: none;
	font: {
		size: 3rem;
	}
}

#permission {
	display: none;
	font: {
		size: .75rem;
	}
}

#temp, #description, .display-top p:first-child {
	font: {
		size: 2.5rem;
	}
}

#units {
	font: {
		size: 1.3rem;
	}
}

#city {
	font: {
		size: 3.2rem;
	}
}

.labels, #windUnit {
	text-transform: uppercase;
	font: {
		size: 0.75rem;
		}
		span {
			font: {
				size: 1.5rem;
		}
	}
}

webicon {
	color: #eee;
}

hr {
	margin: {
		bottom: 4rem;
	}
}

p {
	font: {
		size: 1.5rem;
	}
}

hr.display {
	margin: auto;
	opacity: 0.25;
}

.unit-buttons {
	display: flex;
	justify-content: center;
	margin: {
		top: 0.5rem;
	}
	.button {
		margin: {
			right: 0.1rem;
			left: 0.1rem;
		}
		opacity: 0.35;
		background-color: #000;
	}
}

.button.hollow.secondary.highlighted {
	color: #eee;
}

a.button {
	border-radius: 0.1rem;
}

a i {
	color: #000;
	opacity: 0.45;
	&:hover {
		font: {
			size: 1.7rem;
		}
	}
}

.weather {
	display: none;
}

